{% extends 'app/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="card">
    <h1 class="card-header">Welcome to Places Remember!</h1>
    <div class="card-body">
        <p class="card-text">
            This is the homepage. Click on the "Login with VKontakte" button.<br>
            You will be redirected to VKontakte's authorization page. Log in with your VKontakte credentials.<br>
            After successful authentication, you will be redirected back to the application.<br>
            You can now access your VKontakte profile information, including the avatar photo, and Your Places Remember on the application's pages.<br>
            You can also add new Your Places Remember<br>
        </p>
    </div>
</div>

{% endblock %}
