<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <div>Hello, <a href="{% url 'app:profile' %}">{{ user.username }}</a>!</div>
            <div><a href="{% url 'app:logout' %}">Logout</a></div>
        {% else %}
            <div><a href="{% url 'social:begin' 'vk-oauth2' %}">Login with VK</a></div>
        {% endif %}
    </header>
    <h1>Welcome to Home!</h1>
    <p>Discription</p>
</body>
</html>
