{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %} Profile {% endblock %}

{% block head %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var map = L.map('map').setView([55.7522200, 37.6155600], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);

        var marker = L.marker([0, 0], { draggable: true }).addTo(map);

        function updateMarker() {
            var latitude = marker.getLatLng().lat;
            var longitude = marker.getLatLng().lng;
            document.getElementById('latitude').value = latitude;
            document.getElementById('longitude').value = longitude;
        }

        map.on('click', function(event) {
            marker.setLatLng(event.latlng);
            updateMarker();
        });

        marker.on('dragend', function(event) {
            updateMarker();
        });
    });
    
</script>

{% endblock %}

{% block content %}

<div class="card">
    <h4 class="card-header">Your Remembers</h4>
    <ul class="list-group list-group-flush">
        {% for place_remember in place_remembers %}
        <li class="list-group-item">
            <div class="card card-body">
                <h5 class="card-title">{{ place_remember.name }} at {{ place_remember.location }}</h5>
                <p class="card-text">{{ place_remember.comment }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="card">
    <h4 class="card-header">Discribe Your Remember</h4>
    <div class="card-body row">
        <div class="col-md-6">
            <div class="card card-body">
                <form class="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form place_remember_form %}
                    {% bootstrap_button "Add remember" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body h-100">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
